.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.game-board {
  width: 40%;
  border: 1px solid #222;
}

.portrait {
  cursor: pointer;
  display: inline-block;
  border: 0.5px solid #222;
  box-sizing: border-box;
  border-collapse: collapse;
}

.portrait:hover {
  background-color: #e4e4e4;
}

.portrait img {
  width: 100%;
  transition: transform 0.2s;
}

.visible {
  transform: rotate3d(0, 1, 0, 0deg);
  cursor: auto;
}

.visible:hover {
  background-color: white;
}

h1 {
  padding: 1em;
}
